.Mars_Mission {
    margin-left: 10px;
}

h4 {
    margin-left: 10px;
    color: #e0e0e0;
}

.work {
    margin-bottom: 20px;
}

table {
    margin-bottom: 20px;
}

.user {
	margin-right: 10px;
}